.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
  margin: 0 auto;
}
.card {
  border-radius: 40px;
  max-width: 440px;
  height: 140px;
  cursor: pointer;
  padding: 16px 19px;
}
.categories {
  /* max-width: 1048px; */
  margin-left: 5rem;
  background-color: white;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-top: 135px;
  z-index: 2;
  position: relative;
}

@media (max-width: 768px) {
  .cards {
    display: flex;
    align-items: center;
    max-width: 100% !important;
    padding: 20px;
    overflow: scroll !important;
  }
  .card {
    padding: 69px;
  }
  .navigate_cover {
    display: block !important;
    /* overflow: scroll !important; */
    position: relative;
  }
  .categories {
    overflow: hidden;
  }
}

@media (max-width: 787px) {
  .navigate_sales {
    font-size: 20px !important;
  }
  .navigate_sales_img {
    width: 80px !important;
  }
  .heading {
    font-size: 30px !important;
  }
}

@media (max-width: 629px) {
  .categories {
    margin-left: 2rem;
  }
}

@media (max-width: 520px) {
  .card {
    padding: 0 50px;
    height: 100px !important;
    border-radius: 25px !important;
  }
  .card img {
    width: 50px !important;
  }
  .heading {
    font-size: 30px !important;
    padding-left: 60px !important;
  }
  .navigate_sales {
    line-height: 20px !important;
    font-size: 14px !important;
    margin-left: 20px !important;
  }
}
