.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
}
/* scrollbar */
.cards::-webkit-scrollbar {
  height: 10px;
}
.cards::-webkit-scrollbar-track {
  background: transparent;
}
.cards::-webkit-scrollbar-thumb {
  background-color: #b607a4;
  border-radius: 10px;
  border: 3px solid white;
}

/* ................. */
.card {
  border-radius: 30px;
  max-width: 410px !important;
  height: 100px;
  cursor: pointer;
  padding: 16px 19px;

  img {
    width: 50px !important;
  }

  .navigate_sales {
    font-size: 20px !important;
    line-height: 20px;
    margin-left: 19px !important;
  }
}
.categories {
  /* max-width: 1048px; */
  margin-left: 5rem;
  background-color: transparent;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-top: 135px;
  z-index: 2;
  position: relative;
}

@media (max-width: 948px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100% !important;
    padding: 20px;
    margin: 0 auto !important;
  }
  .card {
    padding: 0 29px;
  }
  .navigate_cover {
    display: block !important;
    /* overflow: scroll !important; */
    position: relative;
  }
  .categories {
    width: 100% !important;
    margin-left: 0;
  }
}

@media (max-width: 828px) {
  .card {
    padding: 0 40px !important;
  }
}

@media (max-width: 787px) {
  .navigate_sales {
    font-size: 20px !important;
  }
  .navigate_sales_img {
    width: 80px !important;
  }
  .heading {
    font-size: 30px !important;
  }
}

@media (max-width: 520px) {
  .card {
    padding: 0 50px;
    height: 100px !important;
    border-radius: 25px !important;
  }
  .card img {
    width: 50px !important;
  }
  .heading {
    font-size: 30px !important;
    padding-left: 60px !important;
  }
  .navigate_sales {
    line-height: 20px !important;
    font-size: 14px !important;
    margin-left: 20px !important;
  }
}

@media (width <= 428px) {
  .cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
