.copy-right {
  border-top: 2px solid #7b94af;
}
.footer_links {
  padding: 100px 100px 28px 100px;
}

@media (max-width: 888px) {
  .footer_links {
    padding: 50px 50px 28px 50px;
  }
}

@media (max-width: 805px) {
  .footer_list {
    margin-left: 100px !important;
  }
}

@media (max-width: 667px) {
  .footer_list ul li a {
    font-size: 14px !important;
  }
  .footer_list {
    margin-left: 60px !important;
  }
  .footer_links {
    padding: 30px 30px 28px 30px;
  }
}

@media (max-width: 538px) {
  .footer_links {
    flex-direction: column !important;
  }
  .footer_list {
    margin-top: 60px !important;
    margin-left: 0 !important;
  }
  .footer_links img {
    width: 300px;
  }
}
