@media (max-width: 1090px) {
  .product-container {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}

@media (max-width: 827px) {
  .product-container {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media (max-width: 917px) {
  .product-container {
    gap: 10px !important;
  }
}

@media (max-width: 576px) {
  .product-container {
    column-gap: 5px !important;
  }
}

@media (max-width: 573px) {
  .product-container {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

.product-container {
  /* margin: 0 auto !important; */
  place-items: center;
}
