@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  overflow: hidden;
  background: #f8f8f8;
}
* {
  box-sizing: border-box !important;
}
body {
  background: #f8f8f8;
}
@media (max-width: 548px) {
  .carousel_container {
    padding-left: 70px !important;
  }
  .carousel_heading span {
    margin-right: 40px !important;
  }
  .carousel_heading p {
    font-size: 23px !important;
  }
}
@media (max-width: 436px) {
  .carousel_container {
    padding-left: 30px !important;
  }
}
