@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  overflow: hidden;
  /* position: relative; */
  background: #f8f8f8;
  height: 100%;
}
#root::before,
#root::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600%;
  background-repeat: no-repeat;
  background-size: cover;
}
#root::before {
  background-image: url("../images/curls-left.png");
  background-size: 800px;
  background-position: -400px 500px;
  opacity: 0.7;
}

#root::after {
  background-size: 800px;
  background-image: url("../images/curls-left.png");
  background-position: 900px 90px;
  opacity: 0.7;
}
* {
  box-sizing: border-box !important;
}
body {
  background: #f8f8f8;
}
@media (min-width: 640px) {
  .carousel_container {
    padding-left: 30px !important;
  }
}
@media (min-width: 300px) {
  .slides_items {
    margin: 0 auto;
  }
}
@media (max-width: 548px) {
  .carousel_container {
    padding-left: 70px !important;
  }
  .carousel_heading span {
    margin-right: 40px !important;
  }
  .carousel_heading p {
    font-size: 23px !important;
  }
}
@media (max-width: 436px) {
  .carousel_container {
    padding-left: 30px !important;
  }
}

@media (width < 1299px) {
  #root::before {
    background-size: 800px;
    background-position: -400px 500px;
  }

  #root::after {
    background-size: 800px;
    background-position: 900px 60px;
  }
}
@media (width <= 1273px) {
  #root::before {
    background-size: 800px;
    background-position: -400px 300px;
  }
}
@media (width <= 1216px) {
  #root::after {
    background-position: 850px 50px;
  }
}
@media (width <= 1152px) {
  #root::after {
    background-position: 830px 30px;
  }
}
@media (width <= 1094px) {
  #root::after {
    background-position: 810px 9px;
  }
}
@media (width <= 1000px) {
  #root::after {
    background-position: 694px 9px;
  }
}
@media (width <= 881px) {
  #root::after {
    background-position: 484px 9px;
  }
}

@media (width <= 666px) {
  #root::before {
    display: none;
  }
  #root::after {
    background-position: 60px 440px;
    background-size: 500px;
  }
}

@media (width <= 590px) {
  #root::after {
    background-position: 60px 440px;
    background-size: 450px;
  }
}
@media (width <= 537px) {
  #root::after {
    background-position: 30px 440px;
    background-size: 450px;
  }
}
@media (width <= 527px) {
  #root::after {
    background-position: 40px 460px;
    background-size: 400px;
  }
}
@media (width <= 458px) {
  #root::after {
    background-position: 40px 500px;
    background-size: 350px;
  }
}

@media (width < 416px) {
  #root::after {
    background-size: 300px;
  }
}
